body{ text-align: center;
    background-image: url("https://i.pinimg.com/originals/0c/0e/2e/0c0e2ec0e55b0f3b6244c749f06ce6bb.png");
    background-repeat: no-repeat;
    background-position: right top;

                        }